body {
  background-image: url("images/Site.png");
}

.name {
  font-size: 30px;

}

.size {
  font-size: 20px;
  width: 50%;
  margin-top: 10px;
  }

.form {
  border: 1px solid black;
  margin-left: 530px;
  margin-right: 700px;
  margin-top: 300px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.t {
  font-size: 25px;
}

.b {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 15px;
}

.you {
  margin-left: 10px;
  margin-top: 30px;

}

.bordrobot {
  border: 1px solid blue;
  border-radius: 20px;
  margin-left: 370px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: block;
  padding-top: 10px;
  background-color:#617FE1;
}

.picture {
  margin-left: 400px;
}

.register{
font-size: 30px;
margin-left: 50px;
margin-bottom: 0px;
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;
margin-top: -10px;
background-color:#617FE1;
color: white;
}
.button {
  height: 20px;
  width: 20px;
}
